.login-wrapper {
  align-items: center;
  background: radial-gradient(circle, rgba(5, 56, 44, 1) 0%, rgba(39, 45, 47, 1) 100%);
  background-color: rgb(5, 56, 44);
  color: #bfffec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.login-wrapper h1 {
  font-size: 45px;
}

.login-form {
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  display: flex;
  flex-direction: column;
  height: 420px;
  justify-content: space-around;
  padding: 15px;
  width: 500px;
}

.login-btns {
  display: flex;
  flex-direction: column;
}

.login-wrapper input {
  background-color: #222;
  border: 1px solid #2fc18c;
  color: white;
  font-size: 18px;
  height: 48px;
  margin-top: 6px;
  width: 440px;
}

.login-wrapper label {
  font-size: 19px;
}

.btn-play {
  background-color: #2fc18c;
  color: #0b3128;
  font-size: 18px;
  height: 45px;
  margin-bottom: 15px;
  width: 180px;
}

.btn-settings {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
  text-decoration-color: white;
}

.btn-settings button {
  background-color: transparent;
  color: white;
  font-size: 18px;
}

.login-wrapper input:focus, .login-wrapper input:active {
  background-color: #0b3128;
}

.btn-play:disabled {
  background-color: #2fc18c;
  cursor: not-allowed;
  opacity: 0.2;
}

@media only screen and ( max-width : 540px ) {

  .login-form {
    height: 420px;
    padding: 15px;
    width: 340px;
  }

  .login-wrapper input {
    font-size: 18px;
    height: 48px;
    margin-top: 6px;
    width: 300px;
  }

  .login-wrapper h1 {
    font-size: 45px;
    margin: -80px 0 40px;
  }
}
